<div class="search-wrapper">
  <div class="chatapp-logo">
    <span class="google logo-C">C</span>
    <span class="google logo-h">h</span>
    <span class="google logo-a">a</span>
    <span class="google logo-t">t</span>
    <span class="google logo-A">A</span>
    <span class="google logo-p1">p</span>
    <span class="google logo-p2">p</span>
  </div>
  <h2>Let's search your friends!</h2>
</div>
<div id="search"></div>
