@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

a {
  text-align: center;
}

ul {
  list-style: none;
  padding:0;
}

li {
  display: table;
}
/* forms */
input {
  height: auto !important;
}

.btn, .form-control {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.profile-img-wrapper {
  margin: 0 auto;
  width:50px;
  border-radius: 25%;
}

.profile-img {
  border-radius: 50%;
  height:100px;
  width:100px;
}

.user-name {
  padding-left: 10px;
}

/* FriendList */
.friend-list {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.03);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  &__item {
    padding: 14px 10px 14px 15px;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
    cursor: pointer;
  }
}

/* MessageBox */
.message-box {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  padding: 10px 30px 5px;

  &__item {
    padding: 5px;
    display:table;
    width:100%;

    &__contents {
      background: rgba(0, 0, 0, 0.08);
      float: left;
      font-size: 14px;
      font-weight: 400;
      border-radius: 10px;
      padding: 10px 15px;
      position: relative;
    }
    p{
      margin:0;
    }

    .fa-trash-alt {
      display: none;
    }

    &--from-current {
      .message-box__item__contents {
        float: right;
        background: #5ae628;
        color: #fff;
      }
      img.icon_by_message{
        display: none;
      }
      p{
        display: none;
      }
      .fa-trash-alt {
        color: gray;
        display:inline-block;
        float: right;
        cursor: pointer;
        margin: 2px 5px 0 0;
      }
    }

    &--read {
      .message-box__item__contents {
        background: none;
        padding: 4px 0;
        font-size: 12px;
        color: rgba( 0, 0, 0, 0.8 );
        font-weight: bold;
        float: right;
      }
    }
  }
}

.message-box-list {
  height: 643px;
  overflow-y: scroll;
}

.reply-box {
  position:absolute;
  right:0;
  bottom:0;
}

header {
  height: 60px;
  z-index: 1;
  width: 100%;
  background-color: #5ae628;
}

header a{
  font-weight:bold;
  text-decoration:none;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 59px;
}

.header-logo a{
  color: white;
  font-size: 40px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 59px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
  font-weight:bold;
}

.header-menus a {
  float: left;
  font-size: 20px;
  color: white;
  text-decoration:none;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 59px;
  color: white;
  margin: 0;
  font-size: 13px;
}
.notice,.alert{
  color:white;
  text-align:center;
  font-weight:bold;
  background-color:orange;
  margin:0;
  height:40px;
  line-height: 40px;
  font-size:20px;
}

.reply-box {
  background: rgba( 0, 0, 0, 0.05 );
  border-top: 1px solid rgba( 0, 0, 0, 0.1 );
  padding: 14px 15px;
  width: 100%;


  &__input {
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba( 0, 0, 0, 0.1 );
    padding: 10px 15px;
    font-size: 14px;
    color: rgba( 0, 0, 0, 0.7 );
    outline: 0;

    &:focus + .reply-box__tip {
      display: block;
    }
  }

  &__tip {
    display: none;
    position: absolute;
    top: 24px;
    right: 27px;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.4);

    &__button {
      background: rgba(0, 0, 0, 0.03);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      padding: 2px 3px;
      margin: 0 3px;
    }
  }
}

.search-wrapper{
  margin:0 auto;
  text-align: center;
  margin-top:100px;
}

.logo-C, .logo-t {
    color: #4285f4;
}

.logo-h, .logo-p1 {
    color: #ea4335;
}

.logo-a, .logo-p2 {
    color: #fbbc05;
}

.logo-A {
    color: #34a853;
}

.google {
    font-size: 80px;
    font-weight: 500;
}

.searchform-wrapper{
  text-align: center;
}

.searchform{
  width:500px;
  height:40px;
  line-height: 40px;
  font-size:20px;
  padding:0 5px;
  outline:0;
}

.searchform:focus{
  border:solid 1px #2AADE5;
}

.search_user_list_result{
  width:500px;
  font-size:20px;
  height:40px;
  line-height: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  margin:0 auto;
  cursor: pointer;
}

.search_user_list_result:hover{
  background-color: rgba(0,0,0,0.1);
}

.user-list {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  background: rgba( 0, 0, 0, 0.03 );
  border-right: 1px solid rgba( 0, 0, 0, 0.1 );
  padding: 0;

  &__item {
    padding: 14px 10px 14px 15px;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
    cursor: pointer;
    width: 100%;

    &--new {
      background: #EEF1F6;
      font-weight: 500;

      .user-list__item__icon {
        color: #1D9BCE;
        margin-right: 3px;
      }
    }

    &--active {
      background: #5ae628;
      color: #fff;
      font-weight: 500;
      position: relative;
      border-top: 1px solid rgba( 0, 0, 0, 0.1 );
      margin-top: -1px;
      z-index: 10;

      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 0 40px 20px;
        border-color: transparent transparent transparent #5ae628;
        position: absolute;
        display: block;
        right: -20px;
        top: 0;
        content: " ";
      }
    }

    &__picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      img {
        width: inherit;
      }
    }

    &__name {
      margin: 3px 0 0 0;
      font-size: 16px;
      font-weight: inherit;
      span {
        width: 90%;
      }
    }

    &__message {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      float: left;
      display: block;
      width: 90%;
    }

    &__timestamp {
      font-size: 11px;
      font-weight: inherit;
      float: right;
      margin-top: 5px;
      margin-bottom: 0;
    }

    &__details {
      float: left;
      padding-left: 15px;
      width: 80%;
      height:77px;
    }
  }
}

.fa-times-circle {
  color:red;
  float:right;
}
